{{ 'hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<section class="hero section-{{ section.id }}-padding">
    <div class="page-width">
        {%- if section.settings.heading != blank -%}
            <h2 class="hero__title {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ section.settings.heading }}
            </h2>
        {%- endif -%}
        {%- if section.settings.subheading != blank -%}
            <div class="hero__subtitle {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ section.settings.subheading }}
            </div>
        {%- endif -%}

        <div class="hero__collection-list {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'collection_list' -%}
                        {%- assign selected_collection = block.settings.collection_list -%}
                        {%- if selected_collection != blank -%}
                            <a href="{{ selected_collection.url }}" class="hero__collection-list--item">
                                <img class="image" src="{{ selected_collection.image | img_url: 'master' }}" alt="{{ selected_collection.title }}" />
                                <span class="collection-info">
                                    <span class="title">{{ selected_collection.title }}</span>
                                    <span class="btn">
                                        <span>Buy now</span>
                                        {%- render 'arrow' -%}
                                    </span>
                                </span>
                            </a>
                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
    <div class="hero-decor {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <img src="{{ 'hero-decor-min.png' | asset_url }}" alt="hero-decor">
    </div>
</section>

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Hero title",
      "label": "Hero title"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "default": "Hero subtitle",
      "label": "Hero subtitle"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collection_list",
      "name": "Collections",
      "limit": 2,
      "settings": [
        {
          "type": "collection",
          "id": "collection_list",
          "label": "Collection"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}